html,
body {
	background-color: #a13b2f;
	color: black;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 1em;
}

.pokemon-container {
	width: 80%;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
